<h1> AÑADE UNA TAREA NUEVA </h1>

<%= form_for @task do |f| %>
  <p>
    <%= 'Tarea' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= 'Nota' %>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>