<h1>Tus Proyectos</h1>

<%= render 'projects/form' %>

<p style="color:red;"> Ver el número de tareas activas por proyecto </p>
<p style="color:red;"> Añadir campos Activo/Inactivo y Terminado/Abierto </p>

<% @projects.sort_by{ |project| project.name }.each do |project| %>
  <%= link_to project.name, project_path(project) %> <br>
<% end %>

<h1>Tus tareas => Hoy: <%=Date.current.strftime('%d/%m/%Y')%></h1>

<p style="color:red;"> Que salgan las tareas ordenadas por vencimiento, sort_by sirve cuando todos los campos están completos </p>
<p style="color:red;"> Poner en gris las tareas completadas </p>
<p style="color:red;"> Asignar un color a cada proyecto y que lo muestre en la tabla </p>
<p style="color:red;"> Añadir tareas repetitivas, por dia, mes o año </p>
<p style="color:red;"> Añadir imágenes de las acciones que necesito </p>
<p style="color:red;"> Desactivar una acción hasta que termine una anterior, relacionar tareas </p>

<%= render 'tasks/form' %>

<%= link_to 'Todas', "#{root_path}?filter=all" %> -
<%= link_to 'Terminadas', "#{root_path}?filter=done" %> -
<%= link_to 'Para hacer', root_path %>

<table>

  <tr>
    <th><%= 'Completado' %></th>
    <th><%= 'Vencimiento' %></th>
    <th><%= 'Creado' %></th>
    <th><%= 'Necesito' %></th>
    <th><%= 'Proyecto' %></th>
    <th><%= 'Tarea' %></th>
    <th><%= 'Notas' %></th>

  </tr>

  <% @tasks.sort_by(&:requirement).each do |task| %>
    <tr>
      <td><%= task.finish %></td>
      <td style= <%= coloring_date(task.expiration) %> ><%= task.expiration&.strftime('%d/%m/%Y') %></td>
      <td><%= task.created_at.strftime('%d/%m/%Y') %></td>
      <td><%= task.requirement %></td>
      <td><%= task.project&.name %></td>
      <td><%= link_to task.name, edit_task_path(task) %></td>
      <td><%= task.note %></td> 
    </tr> 
  <% end %>

</table>



