<h1>Tus Proyectos</h1>

<%= render 'projects/form' %>

<% @projects.sort_by{ |project| project.name }.each do |project| %>
  <button type="button" class="badge badge-light">
   <%= link_to project.name, project_path(project) %>
    <span class="badge badge-light"><%= project.unfinished_tasks.count %></span>
    <span class="badge badge-light"><%= project.percentage_done %><%= '%' %></span>
  </button>
<% end %>

<h1>Tus tareas => Hoy: <%=Date.current.strftime('%d/%m/%Y')%></h1>

<p style="color:red;"> Que muestre el color de un proyecto en la tabla </p>
<p style="color:red;"> Añadir imágenes de las acciones que necesito </p>
<p style="color:red;"> Desactivar una acción hasta que termine una anterior, relacionar tareas </p>

<%= render 'tasks/form' %>

<%= link_to 'Todas', "#{root_path}?filter=all" %> -
<%= link_to 'Terminadas', "#{root_path}?filter=done" %> -
<%= link_to 'Para hacer', root_path %>

<table>

  <tr>
    <th><%= 'Vencimiento' %></th>
    <th><%= 'Frecuencia' %></th>
    <th><%= 'Necesito' %></th>
    <th><%= 'Color' %></th>    
    <th><%= 'Proyecto' %></th>
    <th><%= 'Tarea' %></th>
    <th><%= 'Notas' %></th>
    <th><%= 'Completado' %></th>
    <th><%= 'Inactivo' %></th>
  </tr>

  <% @tasks.order(inactive: :asc, expiration: :asc).each do |task| %>
    <tr>
      <td style= <%= coloring_date(task.expiration, task.finish) %> ><%= task.expiration&.strftime('%d/%m/%Y') %></td>
      <td style= <%= coloring_background(task.finish, task.inactive) %> ><%= task.frecuency %></td>
      <td style= <%= coloring_background(task.finish, task.inactive) %> ><%= task.requirement %></td>
      <td><%= task.project&.color %></td>
      <td style= <%= coloring_background(task.finish, task.inactive) %> ><%= task.project&.name %></td>
      <td style= <%= coloring_background(task.finish, task.inactive) %> ><%= link_to task.name, edit_task_path(task) %></td>
      <td style= <%= coloring_background(task.finish, task.inactive) %> ><%= task.note %></td> 
      <td><%= task.finish %></td>      
      <td><%= task.inactive %></td>   
    </tr> 
  <% end %>

</table>

   

